@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Raleway&family=Roboto:wght@300;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Public Sans', sans-serif;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}

header {
  width: 100%;
  height: 12vh;
  background-color: rgb(255, 255, 255);
  z-index: 999;
  position: fixed;
  left: 0;
}
.section-center {
  width: 85%;
  margin: auto;
}
nav {
  height: 12vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btns-container {
  cursor: pointer;
  transition: all 0.5s linear;
}
.btns-container svg:hover {
  transform: rotate(-10deg);
  transition: all 0.5s linear;
}
nav .btn-times {
  display: none;
}

.links-container {
  height: 0;
  overflow: hidden;
  transition: all 0.3s ease-in;
  /* transform: translateX(120%); */
}
.nav-links-wrapper {
  width: 100%;
  margin: auto;
  background: rgb(250, 250, 250);
  margin-top: 20px;
  padding: 30px 0;
  border-radius: 5px;
}
ul.nav-links {
  text-align: center;
}
ul.nav-links li {
  padding: 10px 0;
}
ul.nav-links li a {
  font-size: 1.2rem;
  color: hsl(233, 8%, 62%);
}

/* style my nav btn */
#btn {
  width: 180px;
  padding: 15px;
  outline: none;
  border: none;
  background: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
  border-radius: 20px;
  display: none;
}
#btn a {
  color: #fff;
  font-size: 18px;
}
.hero-section {
  display: flex;
  flex-direction: column;
}
.hero-banner {
  width: 100%;
  height: auto;
  background: url('../images/bg-intro-mobile.svg');
  background-size: cover;
  background-position: center;
  position: relative;
}
.hero-banner img {
  width: 100%;
  height: auto;
  position: relative;
  top: -120px;
}
/* content description */
.content-description {
  width: 75%;
  margin: auto;
  text-align: center;
}
.content-description h1 {
  font-size: 2rem;
  font-weight: 700;
  color: rgb(95, 94, 94);
  font-family: 'Public Sans' sans-serif;
  /* letter-spacing: 2px; */
  margin-bottom: 20px;
}
.content-description p {
  letter-spacing: 1px;
  line-height: 1.5;
  color: rgb(172, 169, 169);
  margin-bottom: 25px;
}
#button {
  width: 200px;
  padding: 15px;
  outline: none;
  border: none;
  background: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
  border-radius: 20px;
}
#button a {
  color: #fff;
  font-size: 1rem;
  letter-spacing: 1px;
}

/* section 2 starts here */
section.services {
  width: 100%;
  height: auto;
  background-color: hsl(220, 16%, 96%);
  margin-top: 100px;
  padding: 50px 0;
}
section.services .reasons {
  width: 80%;
  text-align: center;
}
.section-2-wrapper {
  width: 80%;
  margin: auto;
  display: flex;
  /* align-items: center; */
  flex-direction: column;
  /* justify-content: center; */
}

/* services */

.service {
  width: 100%;
  margin: 0 auto 30px;
  text-align: center;
}
.service svg {
  margin-bottom: 20px;
}
.service p {
  margin-top: 15px;
  color: hsl(233, 8%, 62%);
  line-height: 1.5;
}

/* section article */

.article-section {
  width: 85%;
  margin: 100px auto 0;
}
.article-section h1 {
  margin-bottom: 30px;
  text-align: center;
}
.card-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card-image {
  width: 100%;
  height: auto;
  background: #fff;
  margin-bottom: 25px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}
.card-image img {
  width: 100%;
}
.card-body {
  width: 85%;
  padding: 30px;
}
.card-body p:first-child {
  margin-bottom: 20px;
}

.card-body h2 {
  font-size: 1.3rem;
  margin-bottom: 15px;
  color: hsl(233, 8%, 62%);
  font-weight: 500;
}
.card-body p {
  color: hsl(233, 8%, 62%);
  line-height: 1.5;
}

footer {
  width: 100%;
  height: auto;
  margin-top: 100px;
  position: relative;
  background: hsl(233, 26%, 24%);
  padding: 20px 0;
}
.footer-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-logo {
  margin: 35px 0;
}
.social-icons svg {
  margin: 0 10px 35px 0;
}

.short-links a {
  display: block;
  text-align: center;
  line-height: 2.5;
  color: #fff;
  font-size: 1.2rem;
}

.footer-button {
  margin: 25px 0;
  text-align: center;
  width: 200px;
  padding: 15px;
  outline: none;
  border: none;
  background: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
  border-radius: 20px;
}
.footer-button a {
  color: #fff;
  font-size: 18px;
}
.copy-right {
  text-align: center;
  color: hsl(233, 8%, 62%);
  font-size: 1.2rem;
}

/* responsiveness */
@media screen and (min-width: 800px) {
  .section-center {
    height: 12vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .btns-container {
    display: none;
  }

  .links-container {
    height: auto !important;
    overflow: visible;
    transition: all 0.3s ease-in;
  }
  .nav-links-wrapper {
    margin-top: 0;
    padding: 0;
    background-color: transparent;
  }
  ul.nav-links {
    display: flex;
  }
  ul.nav-links li {
    padding: 0;
    width: 100px;
  }
  /* style my nav btn */
  #btn {
    display: block;
  }

  /* hero section */
  .hero-section {
    width: 90%;
    margin: 0 0 0 auto;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
  }
  .hero-banner {
    width: 80%;
    height: 100vh;
    background: url('../images/bg-intro-desktop.svg');
  }
  .hero-banner img {
    width: 80%;
    height: auto;
    position: absolute;
    top: 50px;
    right: 0px;
  }
  /* content description */
  .content-description {
    width: 500px;
    text-align: left;
  }

  section.services {
    height: 80vh;
    display: flex;
    /* align-items: center; */
    flex-direction: column;
  }
  section.services .reasons {
    width: 500px;
    text-align: left;
    padding-left: 120px;
  }
  .section-2-wrapper {
    width: 85%;
    padding: 0;
    flex-direction: row;
  }
  .service {
    width: 290px;
    margin: 0;
    margin-right: 10px;
    text-align: left;
  }
  /*  */
  .article-section h1 {
    /* margin-bottom: 30px; */
    text-align: left;
  }
  .card-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .card-image {
    width: 300px;
    margin-bottom: 0;
    margin-right: 25px;
  }
  .card-image img {
    width: 100%;
    border-radius: 10px;
  }
  .card-body {
    width: 95%;
    padding: 15px;
  }
  .card-body p {
    color: hsl(233, 8%, 62%);
    line-height: 1.5;
  }

  .footer-body {
    width: 85%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
